
@{
    ViewBag.Title = "QueriesPage";
}

<h2 class="text-center m-3">Ricerca Prenotazioni</h2>

<div class="row">
    <div class="col-4 border border-info">
        <h3>Ricerca prenotazioni per codice fiscale cliente</h3>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" id="SearchCF" placeholder="Codice Fiscale" aria-label="Search">
            <button class="btn btn-outline-info" type="button"  id="GetBooksCF">Ricerca</button>
        </form>
    </div>
    <div class="col-4 border border-info">
        <h3>Ricerca prenotazioni per tipo pensione</h3>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" id="SearchType" placeholder="Tipologia Pensione" aria-label="Search">
            <button class="btn btn-outline-info" type="button" id="GetBooksType">Ricerca</button>
        </form>
    </div>
</div>

<div id="showInfo"></div>

  



<script type="text/javascript">

    $(document).ready(function () {

        $("#GetBooksCF").click(function () {
            var CF = $('#SearchCF').val();
            $('#showInfo').empty();
            $.ajax({
                method: 'GET',
                data: { 'CF': CF },
                url: '/Queries/GetBookingsByCF',
                success: function (r) {
                    $.each(r, function (index, valore) {
                        
                        $("#showInfo").append("<table class=\"table table - info\">" +
                            "<thead><tr><th scope=\"col\">Pren. Nr</th>" +
                            "<th scope=\"col\">Cliente</th>" +
                            "<th scope=\"col\">Camera</th>" +
                            "<th scope=\"col\">Tipologia</th>" +
                            "<th scope=\"col\">Tariffa</th>" +
                            "</tr></thead><tbody>" +
                            "<tr><th scope=\"row\">" + valore.IdPrenotazione + "</th>" +
                            "<td>" + valore.Cliente + "</td>" + 
                            "<td>" + valore.NrCamera + "</td>" +
                            "<td>" + valore.Pensione + "</td>" +
                            "<td>" + valore.Prezzo + " €</td></tr>" +
                            "</tbody></table>"
                        );
                    })
                }
                })

        }

        )
        $("#GetBooksType").click(function () {
            var Type = $('#SearchType').val();
            $('#showInfo').empty();
            $.ajax({
                method: 'GET',
                data: { 'Type': Type },
                url: '/Queries/GetBookingsByType',
                success: function (r) {
                    $.each(r, function (index, valore) {

                        $("#showInfo").append("<ul class=\"list-group\">" +
                            "<li class=\"list-group-item active\" aria-current=\"true\"> Totale prenotazioni</li>" +
                            "<li class=\"list-group-item\">Tipologia: " + valore.Pensione + "</li>" +
                            "<li class=\"list-group-item\">" + valore.TotPren + "</li>" +
                            "</ul>"
                        );
                    })
                }
            })

        }

        )
    })
</script>

