
@{
    ViewBag.Title = "QueriesPage";
}

<h2 class="text-center m-3">Ricerca Prenotazioni</h2>

<div class="row">
    <div class="col-4 border border-info">
        <h3>Ricerca prenotazioni per codice fiscale cliente</h3>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" id="SearchCF" placeholder="Codice Fiscale" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" id="GetBooksCF">Ricerca</button>
        </form>
    </div>
    <div class="col-4 border border-info">
        <h3>Ricerca prenotazioni per tipo pensione</h3>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Codice Fiscale" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Ricerca</button>
        </form>
    </div>
</div>



